.TodoApp {

    background-color: rgb(163, 165, 27);
    color: rgb(179, 17, 184);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}